answer{
    display: block;
    padding: 5%;
}

collection{
    border: .2em solid black;
    border-radius: 2em;
    display: block;
    margin: 1em;
    padding: 2em;
}
data{
    display: block;
    margin: 5em 6em;
}
dataH{
    display: block;
    font-weight: 700;
    margin-left: 0em;
    padding: 5%;
}
dataP{
    display: block;
    margin-left: 20em;
}
desc{
    border-left: .1em solid black;
    border-radius: .2em;
    border-top: .1em solid black;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1em;
    padding: 1em;
    text-shadow: white 0 0  1em;
}
documentation{
    display: block;
    padding: 5%;
}
excercise{
    border: 0.0625em solid black;
    border-radius: 2em;
    box-shadow: white 0 0 100em;
    display: block;
    margin: 1em;
    padding: 2em;
}
excercises{
    background-color: orange;
    margin: auto;
    width: 60em;
}

header{
    display: block;
    font-size: 2em;
    font-weight: 900;
    padding: 1em;
    text-align: center;
}
notes{
    display: block;
    font-style: italic;
    padding: 1em;
}

failureList, planningList, planningDeviationList{
    background-color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: white 0 0 10em;
    display: block;
    opacity: .9;
    padding: 5%;
}

planningPoint, failurePoint, planningDeviationPoint{
    display: block;
    margin-left: 2em;

}
reflection{
    background-color: black;
    border: 0.0625em solid black;
    border-radius: 2em;
    box-shadow: white 0 0 10em;
    color: yellow;
    display: block;
    margin: 1em;
    padding: 2em;
}
answer, failure, strategy, planning, planningDeviation, question{
    display: block;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: .0625em;
    line-height: 150%;
    margin-bottom: 1em;
    padding: 1em;
}







/*Dynamic inserts for id-attribs by pseudo elements*/
failure::before {
    border: 0.0625em solid green;
    border-bottom: none;
    display: block;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 2%;
    content: "Misstag";
}

planning::before {
    border: 0.0625em solid green;
    border-bottom: none;
    display: block;
    font-weight: 700;
    margin-bottom: .1em;
    padding: 2%;
    content: "Planering";
}

planningDeviation::before {
    border: 0.0625em solid green;
    border-bottom: none;
    display: block;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 2%;
    content: "Avvikelser planering";
}
report{
    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
    color: yellow;
    background-color: black;
    display: block;
    height: 2em;
    padding-top: .7em;
    text-align: center;
}
question{
    display: block;
    font-style: italic;
    padding: 5%;
}

stamp::before {
    border: 0.0625em solid green;
    border-bottom: none;
    display: block;
    font-weight: 700;
    content: attr(id)": "attr(date)" "attr(startTime)" "attr(endTime);
}

strategy::before {
    border: 0.0625em solid green;
    border-bottom: none;
    display: block;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 2%;
    content: "Strategi";
}






